.wrapper-homepage {
  height: 100%;
}

.homepage-left {
  text-align: center;
  margin-top: 20%;
}

.homepage-left-text {
  font-family: 'Mulish';
  font-weight: 900;
  font-size: 40px;
}

.homepage-left-button {
  border: none;
  border-radius: 10px;
  background-color: #f895aa;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 3%;
  width: 60%;
}

.homepage-right {
  padding-top: 4%;
  padding-left: 15%;
}

.homepage-right-hero {
  width: 78vh;
}